
*.tar
*.zip

.vscode

toolchain/binutils-2.34/build/*
!toolchain/binutils-2.34/build/build
!toolchain/binutils-2.34/build/err
!toolchain/binutils-2.34/build/log
!toolchain/binutils-2.34/build/test_as.sh

*.code-workspace
