
*.tar
*.zip

.vscode

toolchain/binutils-2.32/build/*
!toolchain/binutils-2.32/build/build
!toolchain/binutils-2.32/build/err
!toolchain/binutils-2.32/build/log
!toolchain/binutils-2.32/build/test_as.sh

*.code-workspace
